@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0px;
    text-align: center;
    color: #212529;
    font-family: "Noto Sans JP", Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer {
    padding-top: 50px;
    font-size: 1.3rem;
    color: #aaa;
}

img {
    border-style: none;
}

.fk_title {
    font-size: 2.0rem;
    line-height: 30px;
    padding: 50px 10px 10px 10px;
    font-weight: bold;
}

.fk_contents {
    font-size: 1.8rem;
    line-height: 30px;
    padding: 10px 10px 20px 10px;
    font-weight: bold;
}

.fk_exp {
    background-color: #eee;
    padding: 20px;
    line-height: 2.6rem;
    font-size: 1.5rem;
    text-align: left;
}

.fk_sub {
    padding-top: 20px;
    font-size: 1.3rem;
    line-height: 2.4rem;
}

@media (max-width: 670px) {
    /* スマホ */
    main {
        margin: 0 auto;
        width: 100%;
    }
    header {
        text-align: center;
        padding: 8px 20px;
        height: 32px;
        margin: 0px;
        border-bottom: solid 1px #ccc;
    }
    header .fk_logo {
        width: 100px;
    }
}

@media (min-width: 671px) {
    /* パソコン */
    main {
        margin: 0 auto;
        width: 671px;
    }
    header {
        text-align: left;
        padding: 16px 40px;
        height: 48px;
        margin: 0px;
        border-bottom: solid 1px #ccc;
    }
    header .fk_logo {
        width: 130px;
    }
}